// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'homepage';

@import 'createPost';

@import 'filterWindow';

@import 'navbar';

@import 'posts';