#chatPage{
    background: black;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;

    .userList-container{
        display: flex;
        border: 1px solid lightgray;
        border-radius: 20px;
        margin: 20px auto;

        .userList{
            padding: 35px;
            height: 700px;
            overflow-y: scroll;
            width: 600px;


            //Scrollbar
            &::-webkit-scrollbar-track{
                box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                border-radius: 10px;
                background-color: lightgray;
            }

            &::-webkit-scrollbar
            {
                width: 12px;
                background-color: #F5F5F5;
                transition: all 0.2s;
            }

            &::-webkit-scrollbar-thumb
            {
                border-radius: 10px;
                box-shadow: inset 0 0 6px rgba(0,0,0,.3);
                background-color: #555;

            }
            //End scrollbar

            .user{
                border-radius: 20px;
                padding: 20px;
                color: white;
                font-size: 14px;
                background: rgb(0, 96, 128);
                cursor: pointer;
            }

            .active{
                background: rgb(26, 152, 255);
            }
        }
        

    

    }
    

}