#createPost{
    .formContainer{
        display: flex;
        flex-direction: column;
        align-items: center;

        .tab{
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 600px;
            flex-wrap: wrap;
            .tablinks{
                border-radius: 8px;
                color: white;
                background: rgb(0,120,120);
                font-size: 14px;
                padding: 10px 15px;
                letter-spacing: 1.5px;
                margin: 10px 0;

                &:hover{
                    cursor: pointer;
                }
            }

            .active{
                background: lightgray;
                color: rgb(50,50,50);            }

        }

        .tabcontent {
            display: none;
            padding: 6px 12px;
            width: 700px;
            padding: 0;
            margin-top: 50px;
            margin-bottom: 50px;
            animation: fadeEffect 0.5s;


            form{
                background: white;
                border-radius: 8px;
                padding: 80px;
                color: black;
                box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;

                .form-group{
                    margin-bottom: 40px;

                    label{
                        font-size: 14px;
                        text-transform: uppercase;
                        font-weight: bold;
                        letter-spacing: 1.2px;
                        margin-bottom: 10px;
                    }
                }
                

                .formField{
                    border-radius: 0;
                    border: none;
                    border-bottom: 2px solid lightgray;
                    padding: 0;
                }

                input[type="radio"] {
                    visibility: hidden;
                }
                
                .radioLabel{
                    border-radius: 20px;
                    color: white;
                    background: rgb(0,120,120);
                    font-size: 14px;
                    padding: 10px 15px;
                    letter-spacing: 1.5px;
                    transition: all 0.3s;

                    &:hover{
                        cursor: pointer;
                    }
                }

                .radio-group .form-check input[type="radio"]:checked + label {
                    background-color:lightgray;
                    color: rgb(50,50,50);
                }

                .radio-group{
                    display: flex;
                    width: 250px;
                    margin-left: auto;
                    margin-right: auto;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }

                .form-check{
                    padding: 0;
                }

                .submit-button{
                    border-radius: 5px;
                    background: rgba(0,128,128);
                    color: white;
                    border: none;
                    padding: 10px 15px;
                    margin-top: 20px;
                }
            }
        }
    }
}

@keyframes fadeEffect{
    0%{
        opacity: 0;
    }
    100%    {
        opacity: 1;
    }
}