


*{
    font-family: 'Nunito Sans', sans-serif;
}

header{
    .navbar{
        background: black;
        .container{
            .navbar-brand{
                text-transform: uppercase;
                font-size: 32px;
                font-weight: 600;
                letter-spacing: 1px;
                color: white;
                span{
                    color: $red;
                }
            }

            .collapse ul li a{
                color: white;

                &:hover{
                    color: $red;
                    transition: all 0.3s;
                }
            }
        }

        #logout{
            color: white;

            &:hover{
                color: $red;
                transition: all 0.3s;
            }
        }
    }

    //Carousel
    .carousel{
        height: 650px;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;
        .carousel-item{
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            height: 650px;
            h1{
                font-size: 45px;
                font-weight: 600;
                color: white;
            }
            p{
                color: white;
                font-size: 18px;
                letter-spacing: 2px;
            }

            .caption{
                border: 1px solid red;
            }
        }

        .carousel-caption{
            top: 50%;
            transform: translateY(-50%);
            bottom: initial;
        }


        #slide1{
            background: $overlay_gradient, url('https://i.ibb.co/L1PqvLN/viego.jpg');
        }
        #slide2{
            background: $overlay_gradient, url('https://i.ibb.co/DtzXr4Q/csgo.jpg');
        }
        #slide3{
            background: $overlay_gradient, url('https://i.ibb.co/jG3sj5S/fortnite.jpg');
        }
    }

}

.carousel-caption{
    opacity: 0;
    animation: ani_appear 0.5s linear 0.5s forwards;
}


@keyframes ani_appear{
    0%{
        opacity: 0;
        padding-top: 100px;
    }
    100%{
        opacity: 1;
        padding-top: auto;
    }
}
