.navbar{
    .container{
        .navbar-brand{
            background: rgba(0,0,0,0,);
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 600;
            letter-spacing: 1px;
            font-family: 'Nunito Sans', sans-serif;
            span{
                color: red;
            }
        }
    }
}