.navbar{
    background: transparent;
    height: 75px;
    .container{
        .navbar-brand{
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 600;
            letter-spacing: 1px;
            color:lightgray;
        }

        .nav-link{
            color: lightgray;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;
            transition: all 0.3s;

            &:hover{
                color: white;
            }
        }

        .hoverUnderline{            
            position: relative;

            &::after{
                content: " ";
                background: white;
                position: absolute;
                left: 50%;
                bottom: 0;
                height: 3px;
                width: 0;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
            }

            &:hover:after{
                width: 80%;
                left: 10%;
            }
        }

        .social{
            i{
                font-size: 20px;

                &:hover{
                    cursor: pointer;
                }

                &::after{
                    display: none;
                }
            }
        }
    }

    #register{
        color: lightgray;
        font-size: 14px;
        padding: auto 5px;
        font-weight: 600;
        letter-spacing: 1px;
        transition: all 0.3s;
        background: rgb(0,128,128);
        border-radius: 8px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;

        &:hover{
            color:white;
        }
    }

    #login{
        color: lightgray;
        font-size: 14px;
        padding: auto 5px;
        font-weight: 600;
        letter-spacing: 1px;
        transition: all 0.3s;

        &:hover{
            color: white;
        }
    }

    #logout{
        color: rgb(30,30,30);
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    #profile{
        i{
            font-size: 20px;
        }
    }
}