.navbar{
    background: black;
    height: 75px;
    .container{
        .navbar-brand{
            text-transform: uppercase;
            font-size: 32px;
            font-weight: 600;
            letter-spacing: 1px;
            color:lightgray;
        }

        .collapse ul li a{
            color: lightgray;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 1px;

            &:hover{
                color: $red;
                transition: all 0.3s;
            }
        }
    }

    #register{
        color: lightgray;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        background: $matrix-green;
        border-radius: 25px;
        transition: transform 0.3s;

        &:hover{
            transform: scale(1.1);
        }

    }

    #logout{
        color: lightgray;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;


        &:hover{
            transition: all 0.3s;
        }
    }
}