.background-container{
    background: linear-gradient(135deg, rgb(0, 0, 0) 40%, rgb(60,60,60) 40%);
    background-repeat: repeat;
}

#keyboard{
    position: absolute;
    right: 10%;
    top: 30%;
    width: 50%;
    height: 50%;
}

.posts-body{
    height: 100vh;

    .container{
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;

        .card{
            max-width: 250px;
            height: 300px;
            margin-top: 50px;
            border-radius: 20px;
            transition: transform 0.3s;
            background: rgba(0,128,128,0.5);
            color: white;
            &:hover{
                transform: translateY(-10px);
                cursor: pointer;
            }

            img{
                border-radius: 20px;
                height: 150px;
            }

            .card-body{
                h4{
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin-bottom: 20px;
                }

                .card-text{
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: 1.5px;
                }
            }
        }

        .csgo{
            background: rgba(255,165,0,0.5);
        }
        
        .fortnite{
            background: rgba(128,0,128,0.5);
        }

    }
}