.posts-body{
    background: $overlay_gradient, url('https://i.ibb.co/kQC2nbd/gamer-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    .posts-container{
        display: flex;
        justify-content: space-between;
    
        .post{
            //box-shadow: 0 0 20px 0px rgba(165, 17, 41, 0.5);
            margin-top: 50px;
            max-width: 270px;
            background: black;
            z-index: 100;
            transition: transform 0.5s;

            &:hover{
                transform: translateY(-10px);
                cursor: pointer;
            }


            img{
                height: 200px;
                width: 100%;
            }
    
            .post-info{
                padding: 10px;
                color: white;
                letter-spacing: 1px;
                h4{
                    text-align: center;
                    font-weight: bold;
                    font-size: 16px;
                    text-transform: uppercase;
                }
                p{
                    font-size: 14px;
                    font-weight: 300;
                    
                }
            }
        }
    }
}



