.background-container{
    background: linear-gradient(135deg, rgb(0, 0, 0) 40%, rgb(60,60,60) 40%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}


.posts-body{
    .posts-container{
        justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        gap: 35px;


        .card{
            max-width: 250px;
            min-height: 360px;
            margin-top: 30px;
            margin-bottom: 30px;
            border-radius: 20px;
            transition: transform 0.3s;
            color: white;
            

            &:hover{
                transform: translateY(-10px);
                cursor: pointer;
            }

            img{
                border-radius: 20px;
                height: 150px;
            }

            .card-body{
                display: flex;
                flex-direction: column;
                a{
                    color: white;
                    text-decoration: none;
                    transition: all 0.3s;
                    
                    &:hover{
                        color: rgba(200,200,200);
                        text-decoration: none;

                    }
                }

                h4{
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin-bottom: 20px;
                }

                .card-text{
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: 1.5px;
                }

            }
        }

        .lol{
            background: rgb(0, 96, 128);
        }

        .csgo{
            background: rgb(204, 122, 0);

        }
        
        .fortnite{
            background: purple
        }

    }
}

#search-container{
    input{
        border: none;
        border-radius: 20px;
        padding: 10px 15px;
        font-size: 14px;
    }
}