.background-container{
    //background: linear-gradient(135deg, rgb(0, 0, 0) 40%, rgb(60,60,60) 40%);
    background-color: rgb(245,245,245);
    height: 100vh;
}


.posts-body{
    .posts-container{
        justify-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        gap: 35px;


        .card{
            max-width: 250px;
            min-height: 360px;
            margin-top: 30px;
            margin-bottom: 30px;
            border-radius: 20px;
            transition: transform 0.3s;
            color: rgb(30,30,30);
            box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;

            

            &:hover{
                transform: translateY(-10px);
                cursor: pointer;
            }

            img{
                border-radius: 20px;
                height: 150px;
            }

            .card-body{
                display: flex;
                flex-direction: column;
                a{
                    color: white;
                    text-decoration: none;
                    transition: all 0.3s;
                    
                    &:hover{
                        color: rgba(200,200,200);
                        text-decoration: none;

                    }
                }

                h4{
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin-bottom: 15px;
                    color: rgb(30,30,30);
                }

                .card-text{
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: 1.5px;
                }

            }
        }

        // .lol{
        //     background: rgb(0, 96, 128);
        // }

        // .csgo{
        //     background: rgb(204, 122, 0);

        // }
        
        // .fortnite{
        //     background: purple
        // }

    }
}

#filter-container{
    display: flex;
    justify-content: space-between;

    .search-form{
        input{
            border: none;
            border-radius: 5px;
            padding: 10px 15px;
            font-size: 14px;
        }
    }

    .categories{
        width: 250px;
        display: flex;
        flex-direction: column;
        position: relative;

        button{
            font-size: 14px;
            background: white;
            color: black;
            border: none;
            border-radius: 8px;
            padding: 10px 15px;
            align-self: flex-start;
            width: 150px;

            &:hover{
                cursor: pointer;
            }
        }


        #dropdown{
            padding: 5px 0;
            background: white;
            border-radius: 8px;
            position: absolute;
            top: 50px;
            z-index: 11;
            a{
                display: block;
                color: black;
                padding: 10px 15px;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 1.5;

                &:hover{
                    text-decoration: none;
                    background: rgb(240, 240, 240);
                }
            }
        }
    }
}
