.posts-body{
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    

    .container{
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;

        .card{
            max-width: 250px;
            height: 300px;
            margin-top: 50px;
            border-radius: 20px;
            transition: transform 0.3s;
            &:hover{
                transform: translateY(-10px);
                cursor: pointer;
            }

            img{
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                height: 150px;
            }

            .card-body{
                h4{
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    margin-bottom: 20px;
                }

                .card-text{
                    font-size: 14px;
                    font-weight: 300;
                    letter-spacing: 1px;
                }
            }
        }
    }
}