@import url(https://fonts.googleapis.com/css?family=Nunito);
* {
  font-family: "Nunito Sans", sans-serif;
}

header .carousel {
  height: 500px;
  transform-style: preserve-3d;
}
header .carousel .carousel-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  height: 500px;
}
header .carousel .carousel-item h1 {
  font-size: 45px;
  font-weight: 600;
  color: white;
}
header .carousel .carousel-item p {
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
}
header .carousel .carousel-item .caption {
  border: 1px solid red;
}
header .carousel .carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
header .carousel .carousel-curve {
  height: 150px;
  background: black;
  border-radius: 0 0 100% 100%;
}
header .carousel #slide1 {
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5), black), url("https://i.ibb.co/L1PqvLN/viego.jpg");
}
header .carousel #slide2 {
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5), black), url("https://i.ibb.co/DtzXr4Q/csgo.jpg");
}
header .carousel #slide3 {
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0.5), black), url("https://i.ibb.co/jG3sj5S/fortnite.jpg");
}

.carousel-caption {
  opacity: 0;
  -webkit-animation: ani_appear 0.5s linear 0.5s forwards;
          animation: ani_appear 0.5s linear 0.5s forwards;
}

@-webkit-keyframes ani_appear {
  0% {
    opacity: 0;
    padding-top: 100px;
  }
  100% {
    opacity: 1;
    padding-top: auto;
  }
}

@keyframes ani_appear {
  0% {
    opacity: 0;
    padding-top: 100px;
  }
  100% {
    opacity: 1;
    padding-top: auto;
  }
}
header {
  background: black;
  height: 700px;
  border-radius: 0 0 15% 15%;
}

.navbar {
  z-index: 11;
}
.navbar .container .navbar-brand {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
  color: lightgray;
}
.navbar .container .nav-link {
  color: lightgray;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s;
}
.navbar .container .nav-link:hover {
  color: white;
}
.navbar .container .hoverUnderline {
  position: relative;
}
.navbar .container .hoverUnderline::after {
  content: " ";
  background: white;
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 3px;
  width: 0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.navbar .container .hoverUnderline:hover:after {
  width: 80%;
  left: 10%;
}
.navbar .container .social i {
  font-size: 20px;
}
.navbar .container .social i:hover {
  cursor: pointer;
}
.navbar .container .social i::after {
  display: none;
}
.navbar #register {
  color: lightgray;
  font-size: 14px;
  padding: auto 5px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s;
  background: teal;
  border-radius: 8px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.navbar #register:hover {
  color: white;
}
.navbar #login {
  color: lightgray;
  font-size: 14px;
  padding: auto 5px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s;
}
.navbar #login:hover {
  color: white;
}
.navbar .dropdown-menu .dropdown-item {
  color: #1e1e1e;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar .dropdown-menu .dropdown-item:hover {
  cursor: pointer;
}
.navbar .dropdown-menu #logout {
  font-weight: bold;
}
.navbar #profile i {
  font-size: 20px;
}

.background-container {
  background: linear-gradient(135deg, black 40%, #3c3c3c 40%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.posts-body .posts-container {
  justify-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.posts-body .posts-container .card {
  max-width: 250px;
  min-height: 360px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 20px;
  transition: transform 0.3s;
  color: white;
}
.posts-body .posts-container .card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.posts-body .posts-container .card img {
  border-radius: 20px;
  height: 150px;
}
.posts-body .posts-container .card .card-body {
  display: flex;
  flex-direction: column;
}
.posts-body .posts-container .card .card-body a {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
.posts-body .posts-container .card .card-body a:hover {
  color: #c8c8c8;
  text-decoration: none;
}
.posts-body .posts-container .card .card-body h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.posts-body .posts-container .card .card-body .card-text {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.posts-body .posts-container .lol {
  background: #006080;
}
.posts-body .posts-container .csgo {
  background: #cc7a00;
}
.posts-body .posts-container .fortnite {
  background: purple;
}

#filter-container {
  display: flex;
  justify-content: space-between;
}
#filter-container .search-form input {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 14px;
}
#filter-container .categories {
  width: 250px;
  display: flex;
  flex-direction: column;
  position: relative;
}
#filter-container .categories button {
  font-size: 14px;
  background: white;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  align-self: flex-start;
}
#filter-container .categories button:hover {
  cursor: pointer;
}
#filter-container .categories #dropdown {
  padding: 5px 0;
  background: white;
  border-radius: 8px;
  position: absolute;
  top: 50px;
  z-index: 11;
}
#filter-container .categories #dropdown a {
  display: block;
  color: black;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.5;
}
#filter-container .categories #dropdown a:hover {
  text-decoration: none;
  background: #f0f0f0;
}

* {
  letter-spacing: 1.5px;
}

#showPost {
  background: linear-gradient(135deg, black 40%, #3c3c3c 40%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}
#showPost #gameHeader {
  height: 250px;
}
#showPost #gameHeader .col {
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  margin: 0 0.75rem;
}
#showPost #gameHeader .col h1 {
  color: white;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
}
#showPost #lol_col {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ibb.co/L1PqvLN/viego.jpg");
}
#showPost #csgo_col {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ibb.co/DtzXr4Q/csgo.jpg");
}
#showPost #fortnite_col {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ibb.co/jG3sj5S/fortnite.jpg");
}
#showPost .postInfo {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#showPost .postInfo .coll {
  border-radius: 20px;
  margin-top: 20px;
}
#showPost .postInfo .coll h2 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  padding: 15px 15px 0 15px;
  text-align: center;
}
#showPost .postInfo .coll .info {
  padding: 15px;
}
#showPost .postInfo .coll .info h4 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 18px;
}
#showPost .postInfo .coll .info h4 span {
  font-size: 18px;
  text-transform: none;
  font-weight: 300;
}
#showPost .postInfo .account-col {
  background: #007878;
  width: 650px;
}
#showPost .postInfo .account-col h2, #showPost .postInfo .account-col .accountInfo {
  color: white;
}
#showPost .postInfo .user-col {
  background: lightgray;
  min-width: 400px;
}
#showPost .postInfo .user-col h2, #showPost .postInfo .user-col .userInfo {
  color: #323232;
}

@media (max-width: 1199.98px) {
  .account-col, .user-col {
    width: 100% !important;
    min-width: 0;
  }
}
#createPost {
  background: #fff;
  height: 100vh;
  background-size: cover;
}
#createPost .formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#createPost .formContainer .tab {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  flex-wrap: wrap;
}
#createPost .formContainer .tab .tablinks {
  border-radius: 8px;
  color: white;
  background: #007878;
  font-size: 14px;
  padding: 10px 15px;
  letter-spacing: 1.5px;
  margin: 10px 0;
}
#createPost .formContainer .tab .tablinks:hover {
  cursor: pointer;
}
#createPost .formContainer .tab .active {
  background: lightgray;
  color: #323232;
}
#createPost .formContainer .tabcontent {
  display: none;
  padding: 6px 12px;
  min-width: 500px;
  padding: 0;
  margin-top: 50px;
  -webkit-animation: fadeEffect 0.5s;
          animation: fadeEffect 0.5s;
}
#createPost .formContainer .tabcontent form {
  background: white;
  border-radius: 8px;
  padding: 80px;
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#createPost .formContainer .tabcontent form .form-group {
  margin-bottom: 40px;
}
#createPost .formContainer .tabcontent form .form-group label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}
#createPost .formContainer .tabcontent form .formField {
  border-radius: 0;
  border: none;
  border-bottom: 2px solid lightgray;
  padding: 0;
}
#createPost .formContainer .tabcontent form input[type=radio] {
  visibility: hidden;
}
#createPost .formContainer .tabcontent form .radioLabel {
  border-radius: 20px;
  color: white;
  background: #007878;
  font-size: 14px;
  padding: 10px 15px;
  letter-spacing: 1.5px;
  transition: all 0.3s;
}
#createPost .formContainer .tabcontent form .radioLabel:hover {
  cursor: pointer;
}
#createPost .formContainer .tabcontent form .radio-group .form-check input[type=radio]:checked + label {
  background-color: lightgray;
  color: #323232;
}
#createPost .formContainer .tabcontent form .radio-group {
  display: flex;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
#createPost .formContainer .tabcontent form .form-check {
  padding: 0;
}
#createPost .formContainer .tabcontent form .submit-button {
  border-radius: 5px;
  background: teal;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 20px;
}

@-webkit-keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tab .disabled {
  background: gray !important;
}

.tabcontent-edit {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  min-width: 500px;
  border: none;
  padding: 0;
  margin-top: 50px;
  -webkit-animation: fadeEffect 0.5s;
          animation: fadeEffect 0.5s;
  display: block;
}
.tabcontent-edit form {
  padding: 20px;
  color: #3c3c3c;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.5);
}
.tabcontent-edit form .formField {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
}
.tabcontent-edit form input[type=radio] {
  visibility: hidden;
}
.tabcontent-edit form .radioLabel {
  border-radius: 20px;
  color: white;
  background: #007878;
  font-size: 14px;
  padding: 10px 15px;
  letter-spacing: 1.5px;
  transition: all 0.3s;
}
.tabcontent-edit form .radioLabel:hover {
  cursor: pointer;
}
.tabcontent-edit form .radio-group .form-check input[type=radio]:checked + label {
  background-color: lightgray;
  color: #323232;
}
.tabcontent-edit form .radio-group {
  display: flex;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tabcontent-edit form .radio-group .form-check {
  padding: 0;
}

#chatPage {
  background: black;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}
#chatPage .userList-container {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 20px;
  margin: 20px auto;
}
#chatPage .userList-container .userList {
  padding: 35px;
  height: 700px;
  overflow-y: scroll;
  width: 600px;
}
#chatPage .userList-container .userList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: lightgray;
}
#chatPage .userList-container .userList::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#chatPage .userList-container .userList::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
#chatPage .userList-container .userList .user {
  border-radius: 20px;
  padding: 20px;
  color: white;
  font-size: 14px;
  background: #006080;
  cursor: pointer;
}
#chatPage .userList-container .userList .active {
  background: #1a98ff;
}
